# ============================================
# ARCHIVOS DE SISTEMA / ENTORNO LOCAL
# ============================================
.DS_Store
Thumbs.db
*.idea/
.vscode/

# ============================================
# ARCHIVOS PERSONALES / CREDENCIALES
# ============================================
credentials*
PROF_*
*.env
.env

# ============================================
# ENTORNOS VIRTUALES
# ============================================
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# ============================================
# CACHE / COMPILADOS / TEMPORALES
# ============================================
__pycache__/
*.py[cod]
*$py.class
*.log
*.tmp
.cache/
.pytest_cache/
.mypy_cache/
.dmypy.json
.pytype/
.pyre/

# ============================================
# JUPYTER NOTEBOOKS / CHECKPOINTS
# ============================================
*checkpoint.ipynb
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
**/*.ipynb_checkpoints/


# ============================================
# BUILD / DISTRIBUCIÓN
# ============================================
build/
dist/
downloads/
.eggs/
*.egg-info/
*.egg
MANIFEST

# ============================================
# REPORTES Y COBERTURA DE TESTS
# ============================================
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
cover/

# ============================================
# BASES DE DATOS / CONFIGURACIÓN LOCAL
# ============================================
db.sqlite3
db.sqlite3-journal
local_settings.py

# ============================================
# DOCUMENTACIÓN / OUTPUT
# ============================================
docs/_build/
site/
# outputs/         # Descomenta si generas resultados o imágenes de notebooks

# ============================================
# PROYECTOS Y CONFIGURACIONES DE IDES
# ============================================
.spyderproject
.spyproject
.ropeproject
.idea/
/Notebooks
/Notebooks
03_Data_Analysis/Sprint_06/Unidad_02_Procesado_Datos_Externos_Web_Scraping_APIs/02_Ejercicios_Workout/data/git.txt
03_Data_Analysis/Sprint_06/Unidad_02_Procesado_Datos_Externos_Web_Scraping_APIs/01_Workout/data/piayek.txt
Project_Break_I_EDA/NotebookLM Mind Map.png
Project_Break_I_EDA/01_Proyecto_EDA.ipynb
Project_Break_I_EDA/01_Proyecto_EDA.ipynb
04_Machine_Learning/Sprint_10/Unidad_01_ML_Supervisado_Regresion_Lineal_Regularizacion/01_Workout/05_Minimos_Cuadrados.html
*.pdf
*.html
